# Binaries
bin/
dist/

# Go build cache
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test & coverage
*.test
*.out
coverage.html

# Go workspace
go.work
go.work.sum

# goreleaser
dist/

# Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store
